.sidebar {
    width: 15%;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
      width: 85%;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

.card {
    margin-bottom: 40px;
}

.filter-sizes {
    margin-top: 10px;
    margin-bottom: 10px;
}

.total {
    margin-top: 10px;
}

.sort-button {
    margin-top: 10px;
}

.shirt-link {
    color:#fff;
    font-weight: 700;
    text-decoration: none;
}

.shirt-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.scroll-top-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}